<div class="container">
  <div class="row">
    <div class="col col-md-6 mt-5">
      <div class="card custom-card">
        <div class="card-header custom-header">
          Accounts
        </div>
        <div class="card-body">
          <ng-container *ngIf="accountDetails">
            <div class="mb-3">
              <label class="custom-label">Account ID:</label>
              <label class="custom-value"><strong>{{customer.name}}</strong></label>
            </div>
            <div class="mb-3">
              <label class="custom-label">Account Email:</label>
              <label class="custom-value"><strong>{{customer.email}}</strong></label>
            </div>

            <table class="table custom-table">
              <thead>
              <th>ID</th>
              <th>Date</th>
              <th>Type</th>
              <th>Amount</th>
              </thead>
              <tbody>
              <tr *ngFor="let op of accountDetails.accountOperationDTOs">
                <td>{{op.id}}</td>
                <td>{{op.operationDate|date:'dd-MM-yyyy'}}</td>
                <td>{{op.type}}</td>
                <td class="text-end">{{op.amount|number:'1.2-2'}}</td>
              </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills custom-pagination">
              <li *ngFor="let item of [].constructor(accountDetails.totalPages);let page=index">
                <a [ngClass]="page==currentPage?'btn btn-info':'btn btn-outline-info'" class="btn ms-1 mt-1" (click)="goto(page)">{{page}}</a>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
